<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java.activiti.dao.DbIssueDealMapper" >
  <resultMap id="BaseResultMap" type="com.java.activiti.model.DbIssueDeal" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="task_id" property="taskId" jdbcType="VARCHAR" />
    <result column="deal_way" property="dealWay" jdbcType="VARCHAR" />
    <result column="process_id" property="processId" jdbcType="VARCHAR" />
    <result column="issue_number" property="issueNumber" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="dcdbNum" property="dcdbnum" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, task_id, deal_way, process_id, issue_number, create_time, dcdbNum
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from db_issue_deal
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from db_issue_deal
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.java.activiti.model.DbIssueDeal" >
    insert into db_issue_deal (id, task_id, deal_way, 
      process_id, issue_number, create_time, 
      dcdbNum)
    values (#{id,jdbcType=INTEGER}, #{taskId,jdbcType=VARCHAR}, #{dealWay,jdbcType=VARCHAR}, 
      #{processId,jdbcType=VARCHAR}, #{issueNumber,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{dcdbnum,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.java.activiti.model.DbIssueDeal" >
    insert into db_issue_deal
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="taskId != null" >
        task_id,
      </if>
      <if test="dealWay != null" >
        deal_way,
      </if>
      <if test="processId != null" >
        process_id,
      </if>
      <if test="issueNumber != null" >
        issue_number,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="dcdbnum != null" >
        dcdbNum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="dealWay != null" >
        #{dealWay,jdbcType=VARCHAR},
      </if>
      <if test="processId != null" >
        #{processId,jdbcType=VARCHAR},
      </if>
      <if test="issueNumber != null" >
        #{issueNumber,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="dcdbnum != null" >
        #{dcdbnum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.java.activiti.model.DbIssueDeal" >
    update db_issue_deal
    <set >
      <if test="taskId != null" >
        task_id = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="dealWay != null" >
        deal_way = #{dealWay,jdbcType=VARCHAR},
      </if>
      <if test="processId != null" >
        process_id = #{processId,jdbcType=VARCHAR},
      </if>
      <if test="issueNumber != null" >
        issue_number = #{issueNumber,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="dcdbnum != null" >
        dcdbNum = #{dcdbnum,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.java.activiti.model.DbIssueDeal" >
    update db_issue_deal
    set task_id = #{taskId,jdbcType=VARCHAR},
      deal_way = #{dealWay,jdbcType=VARCHAR},
      process_id = #{processId,jdbcType=VARCHAR},
      issue_number = #{issueNumber,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      dcdbNum = #{dcdbnum,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>