<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
                logFile="proxy_log.log"
                logLevel="INFO"
                mustMatch="true">
  <serverUrls>
   <!-- <serverUrl url="http://58.213.23.212:7003"
        matchAll="true"/>-->
        <serverUrl url="http://58.213.148.61:8083/qyswg/wfs"
              matchAll="true"/>
            <serverUrl url="http://58.213.148.61:8083/FCS_JN/wfs"
                matchAll="true"/>
  </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
``