@CHARSET "UTF-8";

.filter {
	height: 50px;
	background-color: #eff0f4;
	padding-top: 10px;
	padding-left: 25px;
}

.filter .btn_group button {
	margin-right: 10px;
}

#myModal .col-sm-3 {
	padding-left: 0;
	padding-right: 0;
}

#myModal .col-sm-6 {
	padding-left: 15px;
	padding-right: 15px;
}

#myModal .form-control {
	border-radius: 0;
	height: 28px !important;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 28px;
}

#myModal .form-horizontal .control-label {
	padding-top: 4px;
	font-weight: normal;
}

#myModal .form-group {
	margin-bottom: 8px;
	height: 28px !important
}

.thead .table>thead>tr>th {
	height: 52px;
	line-height: 52px;
	padding-top: 0;
	padding-bottom: 0;
}

.table tr td, .table tr th {
	width: 15%;
	box-sizing: content-box;
	text-align: center;
}

.table>thead>tr>th {
	padding: 0
}

.table>tbody>tr>td {
	padding: 8px 0
}

.table>tr>td:last-child, .table>tr>th:last-child {
	width: 10%;
}

.content>nav {
	position: absolute;
	right: 80px;
	bottom: 0;
}

.pagination>li>a {
	margin-right: 5px;
	border-color: #ccc;
}

.pagination>li>a:active {
	border: 1px solid transparent
}

.tbody td:last-child {
	color: green
}

.content {
	border-top: none
}

section>.left {
	background-color: #fff;
	border-right: 1px solid #E6E6E6;
}

section>.right, section>.left {
	border-top: 1px solid #48c6c2;
}

.col-sm-3, .col-sm-9 {
	padding: 0;
}

.modal-backdrop {
	background-color: transparent;
}

.currentTr {
	background-color: #337ab7 !important;
}

.modal thead tr th {
	padding: 0 0 15px 0;
}

.modal.in .modal-dialog {
	-webkit-transform: translate(50%, 50%);
	-ms-transform: translate(0, 50%);
	-o-transform: translate(0, 50%);
	transform: translate(50%, 50%)
}

.modal-dialog {
	position: absolute;
	right: 50%;
	bottom: 50%
}